Source: imx-atf
Section: misc
Priority: optional
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends: debhelper, gcc-aarch64-linux-gnu

Package: imx-atf
Section: misc
Priority: optional
Architecture: arm64 armhf
Description: Arm Trusted Framework for IMX platform
 This contains the Arm Trusted Framework for the NXP i.MX platform.
